<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/auth.css">
 </head>
  <body>
    <div style="display: flex; justify-content: center;">
    <form action="/signup"  method="post" class="form-div">
      <h3>Manage Account</h3>
      <div style="margin-top: 35px;">
      <p>Username</p>
      <input type="name" name="name">
      <p>Email</p>
      <input type="email" name="email">
      <p>Password</p>
      <input type="password" name="password">
      <div class="reg-log">
        <button><a href="./index.html">Register</a></button>
        <button><a href="login.html">Log in</a></button>
        <p class="forgot-password">Forgot password?</p>
      </div>
      </div>
    </form>
    </div>
  </body>
</html>